{% extends 'base.html.twig' %}

{% block title %}Создание нового курса{% endblock %}

{% block body %}
    <div class="container p-2 mt-5">
        <h1>Создание новоего курса</h1>
    </div>
    {{ include('course/_form.html.twig', {'button_label': 'Сохранить'}) }}
    <div class="container p-2">
         <a class="btn btn-success" href="{{ path('app_course_index') }}">Вернуться</a>
    </div>
{% endblock %}
