{% extends 'base.html.twig' %}

{% block title %}Создание нового урока на курсе "{{lesson.courseId.title}}"{% endblock %}

{% block body %}
    <div class="container p-2 mt-5">
        <h1>Создание нового урока на курсе "{{lesson.courseId.title}}"</h1>
    </div>
    {{ include('lesson/_form.html.twig', {'button_label': 'Сохранить'}) }}
    <div class="container p-2">
        <a class="btn btn-success" href="{{ path('app_course_show', {'id': lesson.courseId.id}) }}">Вернуться</a>
    </div>
{% endblock %}
