{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-2 mt-5">
        <div class="row m-1">
            <div class="d-flex flex-column p-2">
                <h1 class="text-danger">Ой! Ошибка {{status_code}}</h1>
                <h2 class="text-">{{status_text}}</h2>
            </div>
            <a href="{{ path('app_course_index') }}" class="btn btn-success">Главная страница</a>
        </div>
    </div>
{% endblock %}